---
import Section from '../Sections.astro'

import { skills } from '../../cv.json'
---

<Section title = 'Skills'>
    <ul>
        {
            skills.map(({ name, level, technologies }) => {
                return (
                    <div>
                        <h3>{name}</h3>
                        <p>{level}</p>
                        <div>
                            {
                                technologies.map((technology) => {
                                    return (
                                        <span>{technology}<br /></span>
                                    )
                                })
                            }
                        </div>
                    </div>
                )
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: row;
        gap: 18px;
        justify-content: space-between;
    }

    p {
        color : #111;
        margin-bottom: 5px;
    }

    ul > div > div {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 170px;
        gap: 7px;
    }

    span {
        color: #ebebeb;
        background: #111;
        padding: 5px 10px;
        border-radius: 8px;
    }
</style>