<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Darwin Guerra Melian Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Bookerly Display';
		src: url('/src/fonts/Bookerly-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	html {
		font-family: 'Bookerly Display', sans-serif;
		background: #fff;
	}

	body, figure {
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	*, *::before, *::after {
		box-sizing: border-box;
	}

	h1, h2, h3, h4 {
		margin: 0;
	}

	p {
		color: #666;
		font-size: .9rem;
		line-height: 1.5;
		margin: 0;
		text-wrap: pretty;
	}
</style>
